body {
  background-color: #00c3ff;
  /* Global font */
  font-family: Helvetica, Arial, sans-serif;
}

main {
  /* Space for header */
  padding-top: 60px
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
}

#banner {
  text-align: center;
  font-size: 1.2em;
  line-height: 1em;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(146, 146, 146, 0.8);
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
  text-shadow: 1px 2px 3px rgba(18, 18, 18, 0.8);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

#images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main img {
  width: 95%;
  border-radius: 10px;
  margin: 4px 0px;
}

@media (min-width: 300px) {
  main img {
    width: 47%;
  }
}

@media (min-width: 600px) {
  main img {
    width: 32%;
  }
}

@media (min-width: 900px) {
  main img {
    width: 24%;
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal_content {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 1px 2px 5px;
}

footer {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 10px;
}

footer div {
  width: 95%;
  height: 100%;
  margin-top: 25px;
  margin: auto;
  vertical-align: middle;
}

footer div p {
  color: #fefefe;
  line-height: 50px;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

#linkin {
  vertical-align: middle;
  height: 22px;
}
